div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.ground {
  background: url(./../../assets/ground.png);
  background-size: cover;
}

.wall {
  background: url(./../../assets/block.png), url(./../../assets/ground.png);
  background-size: cover;
}

.haveBox::before {
  content: "";
  position: absolute;
  background: url(./../../assets/crate.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.isMark::after {
  content: "";
  position: absolute;
  background: url(./../../assets/environment.png);
  background-size: cover;
  height: 40px;
  width: 40px;
}

.isMark.haveBox::before {
  background: url(./../../assets/crate-environment.png);
  background-size: cover;
}

.cursor {
  position: absolute;
  background: url(./../../assets/player.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  z-index: 2;
}
