div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.ground {
  background: url(./../../assets/Ground/ground_03.png);
  background-size: cover;
}

.wall {
  background: url(./../../assets/Blocks/block_03.png), url(./../../assets/Ground/ground_03.png);
  background-size: cover;
}

.haveBox::before {
  content: "";
  position: absolute;
  background: url(./../../assets/Crates/crate_02.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  z-index: 1;
}

.isMark::after {
  content: "";
  position: absolute;
  background: url(./../../assets/Environment/environment_06.png);
  background-size: cover;
  height: 40px;
  width: 40px;
}

.isMark.haveBox::before {
  background: url(./../../assets/Crates/crate_27.png);
  background-size: cover;
}

.cursor {
  position: absolute;
  background: url(./../../assets/Player/player_03.png);
  background-size: cover;
  height: 40px;
  width: 40px;
  z-index: 2;
}