@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

* {
  font-family: 'Fredoka One', cursive;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.leavel-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding-top: 10px;
}
