<div class="content">

  <h1>Sokoban</h1>
  
  <div class="game">
    <app-room 
      [room]="room" 
      (totalMoves)="totalMoves = $event" 
      (win)="win = $event">
    </app-room>
  </div>
  
  <div class="leavel-selector">
    <span>{{ totalMoves }} moves</span>
    <div class="button-group">
      <button (click)="previous()" title="previous level">🠬</button>
      <button (click)="next()" title="next level">🠮</button>
    </div>
  </div>
  
  <span *ngIf="win">YOU WIN</span>
  
</div>
